/* --------------------
    キービジュアル
-------------------- */
.kv_inner{
    grid-column: 2 / 4;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.kv_title{
    position: absolute;
    left: 0;
    bottom: 90px;
    color: var(--colorBlue);
    font-family: 'Shippori Mincho', serif;
}

.kv_title .title_fcq{
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.04rem;
}

.kv_title h2{
    display: flex;
    flex-direction: column;
    font-size: 82px;
    font-weight: 400;
    letter-spacing: -0.08rem;
    line-height: 1.5;
    margin-top: 65px;
}

.keyvisual_img{
    width: calc(100% - 160px);
}

.keyvisual_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px 0 0 6px;
}

.scrolldown{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    position: absolute;
    right: 0;
    bottom: -60px;
}

@media screen and (max-width:1560px){
    .keyvisual_img{
        padding-left: 0;
        width: 77.6vw;
    }
}

/* --------------------
    私たちについて
-------------------- */
.about{
    padding: 100px 0 60px;
}

.about_inner{
    grid-column: 2 / 4;
    display: flex;
    justify-content: space-between;
    position:relative;
}

.about_inner::before{
    background-image: url(../images/about_fc.svg);
    content: "";
    width: 232px;
    height: 128px;
    position: absolute;
    top: -40px;
    left: -100px;
    z-index: -1;
}

.about_left{
    /* width: 50%; */
    padding-top: 30px;
    /* flex-shrink: 0; */
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.about_left p{
    font-size: 20px;
    letter-spacing: 0.02rem;
    line-height: 43px;
    /* margin-top: 50px; */
}

.about .sec_title{
    display: flex;
    align-items: flex-end;
    column-gap: 15px;
}

.about_img{
    width: 41.7vw;
    object-fit: cover;
    border-radius: 6px 0 0 6px;
}

.about_link{
    border-bottom: solid 1px var(--colorBlue);
    color: var(--colorBlue);
    display: block;
    font-size: 24px;
    letter-spacing: 0.16rem;
    padding-bottom: 28px;
    position: relative;
}

.about_link::after{
    content: "";
    width: 38px;
    height: 38px;
    background-color: var(--colorWhite);
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 20px;
    background-image: url(../images/arrow_bl.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    transition-duration: 0.3s;
}

.about_link:hover::after{
    background-color: var(--colorBlue);
    background-image: url(../images/arrow_wh.svg);
    background-position: 15px;
}